---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import DirectoryNav from '../components/DirectoryNav.astro';
import Hero from '../components/Hero.astro';
import WhyNexus from '../components/WhyNexus.astro';
import Problems from '../components/Problems.astro';
import Features from '../components/Features.astro';
import MythologyServices from '../components/MythologyServices.astro';
import Pricing from '../components/Pricing.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Pegasus Nexus - Excelencia en Software Comercial">
  <Header />
  <DirectoryNav />
  
  <main>
    <Hero />
    <WhyNexus />
    <Problems />
    <MythologyServices />
    <Features />
    <Pricing />
    <Team />
  </main>
  
  <Footer />
</Layout>
